
nav{
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
}
.box-container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
  
}
.cells{
    margin: 15px;
    background: var(--cor-primaria);
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.cells img{
    width: 130px;
    margin: auto;
}
.fa-box-open{
    margin-top: 30px;
    width: 50px;
}
footer{
    position:absolute;
    bottom: 0;
}